<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GoEz Framework!!!</title>
<link rel="stylesheet" type="text/css" href="<% $frontendVars.baseUrl %>/pub/css/style.css" media="all" />
<script type="text/javascript">
var $frontendVars = <% $frontendVars|@json_encode %>;
</script>
<script type="text/javascript" src="<% $frontendVars.baseUrl %>/pub/lib/jquery/latest.js"></script>
<script type="text/javascript" src="<% $frontendVars.baseUrl %>/pub/js/default.js"></script>
</head>

<body>
<div id="wrapper">
<div id="header">
<h1>GoEz Framework!!!</h1>
</div>
<div id="content">
<p>超輕量級入門 PHP 框架</p>
</div>
<div id="footer">
<p>Powered by GoEz Framework</p>
</div>
</div>
</body>
</html>
